<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>811996424873-ovp3e1fv9m6gafcn3ieu4alg3fl8tt4b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.811996424873-ovp3e1fv9m6gafcn3ieu4alg3fl8tt4b</string>
	<key>API_KEY</key>
	<string>AIzaSyAl0HbaOEFL7joQcDthf2iR-ey69Co3yM0</string>
	<key>GCM_SENDER_ID</key>
	<string>811996424873</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.uers.toDoDo</string>
	<key>PROJECT_ID</key>
	<string>tododo-f91d7</string>
	<key>STORAGE_BUCKET</key>
	<string>tododo-f91d7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:811996424873:ios:cf43fde140c43a0f2e17b8</string>
</dict>
</plist>